.sign-up {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sign-up .div {
  background-image: url(./sign-up.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 832px;
  position: relative;
  width: 1280px;
}

.sign-up .group {
  height: 97px;
  left: 0;
  position: absolute;
  top: -49px;
  width: 1280px;
}

.sign-up .overlap {
  height: 97px;
  position: relative;
}

.sign-up .overlap-wrapper {
  height: 97px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.sign-up .overlap-group {
  height: 97px;
  position: relative;
  width: 1282px;
}

.sign-up .overlap-group-wrapper {
  height: 97px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1282px;
}

.sign-up .div-wrapper {
  height: 63px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 1282px;
}

.sign-up .overlap-group-2 {
  background-color: #000000;
  height: 63px;
  position: relative;
  width: 1280px;
}

.sign-up .text-wrapper {
  color: #ffffff;
  font-family: "Aguafina Script-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 386px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 157px;
}

.sign-up .see-the-logic-master {
  color: #ffffff;
  font-family: "Advent Pro-Regular", Helvetica;
  font-size: 45px;
  font-weight: 400;
  left: 465px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 460px;
}

.sign-up .span {
  color: #ffffff;
  font-family: "Advent Pro-Regular", Helvetica;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 0;
}

.sign-up .text-wrapper-2 {
  font-size: 30px;
}

.sign-up .ellipse {
  background-color: #cdc2c2;
  border-radius: 16px;
  height: 32px;
  left: 16px;
  opacity: 0.7;
  position: absolute;
  top: 55px;
  width: 32px;
}

.sign-up .back {
  height: 20px;
  left: 21px;
  position: absolute;
  top: 59px;
  width: 22px;
}

.sign-up .overlap-2 {
  height: 714px;
  left: 114px;
  position: absolute;
  top: 61px;
  width: 999px;
}

.sign-up .rectangle {
  background-color: #000000;
  border-radius: 30px;
  height: 588px;
  left: 251px;
  opacity: 0.4;
  position: absolute;
  top: 126px;
  width: 527px;
}

.sign-up .welcome-to-algorize {
  color: #ffffff;
  font-family: "Advent Pro-ExtraBold", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 999px;
}

.sign-up .text-wrapper-3 {
  font-weight: 800;
}

.sign-up .text-wrapper-4 {
  font-family: "Advent Pro-Medium", Helvetica;
  font-size: 30px;
  font-weight: 500;
}

.sign-up .text-wrapper-5 {
  color: #ffffff;
  font-family: "Advent Pro-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 398px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 143px;
  width: 203px;
}

.sign-up .rectangle-2 {
  background-color: #000000;
  border-radius: 30px;
  height: 49px;
  left: 279px;
  opacity: 0.7;
  position: absolute;
  top: 247px;
  width: 472px;
}

.sign-up .rectangle-3 {
  background-color: #000000;
  border-radius: 30px;
  height: 49px;
  left: 279px;
  opacity: 0.7;
  position: absolute;
  top: 355px;
  width: 472px;
}

.sign-up .rectangle-4 {
  background-color: #000000;
  border-radius: 30px;
  height: 49px;
  left: 279px;
  opacity: 0.7;
  position: absolute;
  top: 463px;
  width: 472px;
}

.sign-up .text-wrapper-6 {
  color: #ffffff;
  font-family: "Advent Pro-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 238px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 208px;
  white-space: nowrap;
  width: 150px;
}

.sign-up .text-wrapper-7 {
  color: #ffffff;
  font-family: "Advent Pro-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 272px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 309px;
  white-space: nowrap;
  width: 83px;
}

.sign-up .text-wrapper-8 {
  color: #ffffff;
  font-family: "Advent Pro-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 264px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 427px;
  white-space: nowrap;
  width: 150px;
}

.sign-up .text-wrapper-9 {
  color: #ffffff;
  font-family: "Advent Pro-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 410px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.3;
  position: absolute;
  text-align: center;
  top: 368px;
  white-space: nowrap;
  width: 168px;
}

.sign-up .text-wrapper-10 {
  color: #ffffff;
  font-family: "Advent Pro-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 410px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.3;
  position: absolute;
  text-align: center;
  top: 476px;
  white-space: nowrap;
  width: 168px;
}

.sign-up .text-wrapper-11 {
  color: #ffffff;
  font-family: "Advent Pro-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 398px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.3;
  position: absolute;
  text-align: center;
  top: 256px;
  width: 192px;
}

.sign-up .group-2 {
  height: 48px;
  left: 417px;
  position: absolute;
  top: 548px;
  width: 186px;
}

.sign-up .overlap-3 {
  height: 48px;
  position: relative;
  width: 184px;
}

.sign-up .rectangle-5 {
  background-color: #fff8f9;
  height: 41px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 7px;
  width: 184px;
}

.sign-up .text-wrapper-12 {
  color: #030000;
  font-family: "Advent Pro-ExtraBold", Helvetica;
  font-size: 35px;
  font-weight: 800;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 122px;
}

.sign-up .group-wrapper {
  height: 50px;
  left: 363px;
  position: absolute;
  top: 629px;
  width: 283px;
}

.sign-up .group-3 {
  height: 50px;
  position: relative;
}

.sign-up .overlap-4 {
  background-color: #000000;
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.sign-up .group-4 {
  background-image: url(./google.png);
  background-size: 100% 100%;
  height: 45px;
  left: 3px;
  position: relative;
  width: 45px;
}

.sign-up .microsoft-wrapper {
  background-color: #000000;
  border-radius: 10px;
  height: 50px;
  left: 116px;
  position: absolute;
  top: 0;
  width: 50px;
}

.sign-up .microsoft {
  height: 45px;
  left: 3px;
  position: absolute;
  top: 2px;
  width: 45px;
}

.sign-up .apple-inc-wrapper {
  background-color: #000000;
  border-radius: 10px;
  height: 50px;
  left: 233px;
  position: absolute;
  top: 0;
  width: 50px;
}

.sign-up .apple-inc {
  height: 45px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 45px;
}
